.grid_container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  grid-template-rows: repeat(3, minmax(0, 1fr));
  // background-color: #2196F3;
  width: 90vmin;
  height: 90vmin;
  padding: 10px;
}
.grid_item{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 30px;
  text-align: center;
}

.room_list {
  button {
    margin: 1rem 0;
  }
}